{% extends 'main/base.html' %}
{% block content %}
<div id="main">
       <div class="header">
            <img class="img-responsive" src="{% static 'images/logo.png' %}" width="20%" >
        </div>

        <div class="content">


            <div class="pure-g">
               <div class="pure-u-1-3"><p></p></div>
                <div class="pure-u-1-3"><p>
                    <h2 class="content-subhead">You snap, we count!</h2>
                 </p></div>
            </div>

            <p>
                If you have any questions or encounter issues while using our app, please contact us using the form below. We will try to get back to you as soon as possible!
            </p>

            <h3 class="content-subhead">Contact Form</h2>
            <div class="container">
            
            <form action="action_page.php">

            <label for="fname">Full Name:</label><br>
            <input type="text" id="fname" name="firstname" placeholder="Your Full Name"><br>

            <label for="fname">Email Address:</label><br>
            <input type="text" id="fname" name="emailadd" placeholder="Your Email Address"><br>

            <label for="fname">Subject:</label><br>
            <input type="text" id="fname" name="sub" placeholder="Subject"><br><br>
 
            <textarea id="subject" name="subject" placeholder="Reason Why You Are Contacting Us?" style="width:400px; height:150px;", style="width:400px"></textarea> <br>

            <input type="submit" value="Submit">
            </form>
            </div>
        
        </div>

    </div>
{% endblock %}
