{% extends 'main/base.html' %}
{% block content %}
<div id="main">
       <div class="header">
            <img class="img-responsive" src="{% static 'images/logo.png' %}" width="20%" >
        </div>

        <div class="content" style="margin-top: 2em">

                <img class="img-responsive" src="{% static 'images/coins5.jpg' %}" width="30%" >
                <img class="img-responsive" src="{% static 'images/coins3.jpg' %}" width="30%" >
                <img class="img-responsive" src="{% static 'images/coins2.jpg' %}" width="30%" >
                <img class="img-responsive" src="{% static 'images/coins4.jpg' %}" width="30%" >
                <img class="img-responsive" src="{% static 'images/coins1.jpg' %}" width="30%" >
                <img class="img-responsive" src="{% static 'images/coins6.jpg' %}" width="30%" >
                <img class="img-responsive" src="{% static 'images/coins8.jpg' %}" width="30%" >
                <img class="img-responsive" src="{% static 'images/coins7.jpg' %}" width="30%" >
                <img class="img-responsive" src="{% static 'images/coins9.jpg' %}" width="30%" >
                
        </div>
    </div>
{% endblock %}