{% extends 'main/base.html' %}
{% block content %}
<div id="main">
       <div class="header">
            <img class="img-responsive" src="{% static 'images/logo.png' %}" width="20%" >
        </div>

        <div class="content">

            <h2 class="content-subhead">Take Or Upload A Picture</h2>

            <form action="{% url 'upload_pic' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                <p>
                    <input type="file" id="id_image" name="image" accept="image/*" capture="camera"> 
                </p>
                <input type="submit" value="Submit" />
            </form>

            <h3 class="content-subhead">How To Use</h2>

            <p>

             1. Place a white piece of printer paper or a white tray on a flat surface. <br>
             2. Check to make sure that you are in a well lit area. <br>
             3. Disperse coins on surface as far apart from each other as possible. Avoid overlapping. <br>
             4. Tap "Choose File" to either take a picture using your mobile phone or select a picture from your files. Take a picture as close as possible to the coins while still leaving white space around the edges. <br>
             5. Press "Submit" and your result should appear instantly. 
             </p>
            
        </div>

        
    </div>
{% endblock %}